<div class="page-shell">
  <div class="main-area">
    <header class="top-bar">
      <div class="search-box">
        <input
          class="search-input"
          type="text"
        />
      </div>
    </header>

    <main class="content">
      <app-product></app-product>
    </main>
  </div>

  <aside class="filters">
    <h2>Filters</h2>
    <p>Brands</p>
    @for (brand of brands; track brand) {
      <app-filter-item [name]=brand></app-filter-item>
    }
    <p>Categories</p>
    @for (category of categories; track category) {
      <app-filter-item [name]=category></app-filter-item>
    }
  </aside>
</div>

<router-outlet/>
